In [315]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pickle
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from math import sqrt
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.compose import ColumnTransformer
from sklearn.metrics import confusion_matrix
from pandasql import sqldf
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
pd.options.mode.chained_assignment = None
import  mysql.connector
pd.options.display.float_format = '{:.5f}'.format

In [316]:
pysqldf = lambda q: sqldf(q, globals())

In [317]:
saved_model_pk=pickle.load(open ('providus_credit','rb'))
saved_model=pickle.load(open ('providus_debit','rb'))

In [318]:
import pyodbc 
import pandas as pd 
try:
    cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=CASH-MGT-SV01;DATABASE=CashManagement;UID=cashcom_user;PWD=cash@312;')
    cnxn.setdecoding(pyodbc.SQL_CHAR, encoding='latin1')
    cnxn.setencoding('latin1')
    cursor = cnxn.cursor()
    mySql_select_Query = """select  * from  Analytics_cash_MGT_Deposit_B
                          where REFERENCE_DATE >='2022-06-01'"""
    result = cursor.execute(mySql_select_Query)
    queryFetch = cursor.fetchall()
    queryResults = pd.DataFrame.from_records(queryFetch, columns = [i[0] for i in cursor.description])
    print('e don work')
except mysql.connector.Error as error:
    #print(error)
    print("Failed to connect: You go need check am".format(error))

df=queryResults.copy()

e don work

In [319]:
df = df.apply(pd.to_numeric, errors  = 'ignore', downcast = 'float')

In [320]:
import pyodbc 
import pandas as pd
try:
    cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=CASH-MGT-SV01;DATABASE=CashManagement;UID=cashcom_user;PWD=cash@312;')
    cnxn.setdecoding(pyodbc.SQL_CHAR, encoding='latin1')
    cnxn.setencoding('latin1')
    cursor = cnxn.cursor()
    mySql_select_Query = """select  * from  Analytics_cash_MGT_withdrawer_B
                          where REFERENCE_DATE >='2022-06-01'"""
    result = cursor.execute(mySql_select_Query)
    queryFetch = cursor.fetchall()
    queryResults = pd.DataFrame.from_records(queryFetch, columns = [i[0] for i in cursor.description])
    print('e don work')
except mysql.connector.Error as error:
    #print(error)
    print("Failed to connect: You go need check am".format(error))

e don work

In [321]:
df1=queryResults.copy()

In [322]:
df1 = df1.apply(pd.to_numeric, errors  = 'ignore', downcast = 'float')

In [323]:
import pyodbc 
import pandas as pd
try:
    cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=CASH-MGT-SV01;DATABASE=CashManagement;UID=cashcom_user;PWD=cash@312;')
    cnxn.setdecoding(pyodbc.SQL_CHAR, encoding='latin1')
    cnxn.setencoding('latin1')
    cursor = cnxn.cursor()
    mySql_select_Query = """select * from  [DBO].[VAULT_BALANCE]
                             where BANK_DATE>='2022-06-01'
                            """
    result = cursor.execute(mySql_select_Query)
    queryFetch = cursor.fetchall()
    queryResults = pd.DataFrame.from_records(queryFetch, columns = [i[0] for i in cursor.description])
    print('e don work')
except mysql.connector.Error as error:
    #print(error)
    print("Failed to connect: You go need check am".format(error))

e don work

In [324]:
vault=queryResults.copy()

In [325]:
vault = vault.apply(pd.to_numeric, errors  = 'ignore', downcast = 'float')

In [326]:
def clean_pipeline(df):
    df.FORCAST_DATE=pd.to_datetime(df.FORCAST_DATE)
    Day_name=df.FORCAST_DATE.dt.day_name()
    df['Day_name']=Day_name
    weekend=['Thursday', 'Friday', 'Monday', 'Wednesday', 'Tuesday']
    df=df[df.Day_name.isin(weekend)]
    return df
df=clean_pipeline(df)

In [327]:
def clean_pipeline2(df1):
   df1.FORCAST_DATE=pd.to_datetime(df1.FORCAST_DATE)
   Day_name=df1.FORCAST_DATE.dt.day_name()
   df1['Day_name']=Day_name
   weekend=['Thursday', 'Friday', 'Monday', 'Wednesday', 'Tuesday']
   df1=df1[df1.Day_name.isin(weekend)]
   return df1
df1=clean_pipeline2(df1)

In [328]:
def preprocessing_pipeline(df):
    dff=df[['CREDIT_1_Day_Back','CREDIT_2_Day_Back', 'CREDIT_3_Day_Back',
       'CREDIT_4_Day_Back', 'CREDIT_5_Day_Back', 'CREDIT_6_Day_Back',
       'CREDIT_7_Day_Back', 'CREDIT_8_Day_Back', 'CREDIT_9_Day_Back',
       'CREDIT_10_Day_Back', 'CREDIT_11_Day_Back', 'CREDIT_12_Day_Back',
       'CREDIT_13_Day_Back', 'CREDIT_14_Day_Back', 'MAX_CREDIT_14_Day_Back',
       'Min_CREDIT_14_Day_Back', 'Sum_CREDIT_14_Day_Back',
       'Avg_CREDIT_14_Day_Back','NEXT_Number_1',
       'NEXT_Number_2', 'NEXT_Number_3', 'Previous_Number_1',
       'Previous_Number_2', 'Previous_Number_3','PREBUBHOL',
       'POSTBUBHOL','Target_Credit']].copy()
    return dff

In [329]:
dff=preprocessing_pipeline(df)

In [330]:
def preprocess_pipeline2(df1):
    dff1=df1[['DEBIT_1_Day_Back',
       'DEBIT_2_Day_Back', 'DEBIT_3_Day_Back', 'DEBIT_4_Day_Back',
       'DEBIT_5_Day_Back', 'DEBIT_6_Day_Back', 'DEBIT_7_Day_Back',
       'DEBIT_8_Day_Back', 'DEBIT_9_Day_Back', 'DEBIT_10_Day_Back',
       'DEBIT_11_Day_Back', 'DEBIT_12_Day_Back', 'DEBIT_13_Day_Back',
       'DEBIT_14_Day_Back', 'MAX_DEBIT_14_Day_Back', 'Min_DEBIT_14_Day_Back',
       'Sum_DEBIT_14_Day_Back', 'Avg_DEBIT_14_Day_Back',  'NEXT_Number_1',
       'NEXT_Number_2', 'NEXT_Number_3', 'Previous_Number_1',
       'Previous_Number_2', 'Previous_Number_3','PREBUBHOL',
       'POSTBUBHOL','Target_Debit']].copy()
    return dff1

In [331]:
dff1=preprocess_pipeline2(df1)

In [332]:
c_predictions=saved_model_pk.predict(dff)
d_predictions=saved_model.predict(dff1)

In [333]:
DEPOSIT_PREDICTION_TABLE= pd.DataFrame({'REFERENCE_DATE': df.REFERENCE_DATE,
                           'FORECAST_DATE': df.FORCAST_DATE,
                           'BRANCH_CODE':df.Branch_code,
                           'TRAN_CRNCY_CODE':df.tran_crncy_code,
                           'TARGET_CREDIT':df.Target_Credit,
                           'DEP_FORECAST':c_predictions,
                           'DAY_MONTH':df.DAY_MONTH,
                           'MONTH':df.Month,
                           'PREPUBHOL':df.PREBUBHOL,
                           'POSTPUBHOL':df.POSTBUBHOL})
WITHDRAWAL_PREDICTION_TABLE= pd.DataFrame({'REFERENCE_DATE': df1.REFERENCE_DATE,
                           'FORECAST_DATE': df1.FORCAST_DATE,
                           'BRANCH_CODE':df1.Branch_code,
                           'TRAN_CRNCY_CODE':df1.tran_crncy_code,
                           'TARGET_DEBIT':df1.Target_Debit,
                           'WITH_FORECAST':d_predictions,
                           'DAY_MONTH':df1.DAY_MONTH,
                           'MONTH':df1.Month,
                           'PREPUBHOL':df1.PREBUBHOL,
                           'POSTPUBHOL':df1.POSTBUBHOL})

In [334]:
DEPOSIT_PREDICTION_TABLE['DEP_FORECAST']=np.where((DEPOSIT_PREDICTION_TABLE['TARGET_CREDIT'] ==0) & (DEPOSIT_PREDICTION_TABLE['DEP_FORECAST'] < 0) , 0, DEPOSIT_PREDICTION_TABLE['DEP_FORECAST'])
WITHDRAWAL_PREDICTION_TABLE['WITH_FORECAST']=np.where((WITHDRAWAL_PREDICTION_TABLE['TARGET_DEBIT'] ==0) & (WITHDRAWAL_PREDICTION_TABLE['WITH_FORECAST'] < 0) , 0, WITHDRAWAL_PREDICTION_TABLE['WITH_FORECAST'])

In [335]:
q = """select b.REFERENCE_DATE,
       b.FORECAST_DATE,
       b.Branch_code,
       a.TRAN_CRNCY_CODE,
       a.Target_Credit,
       b.Target_Debit,
       c._AVAIL_BAL VAULT_BALANCE,
       a.DEP_FORECAST DEPOSIT_PREDICTION,
       b.WITH_FORECAST WITHDRAWAL_PREDICTION,
       (c._AVAIL_BAL +a.DEP_FORECAST-b.WITH_FORECAST) PREDICT_VAUILT_BAL,
       b.DAY_MONTH,b.MONTH MONTH,b.PREPUBHOL
       from DEPOSIT_PREDICTION_TABLE a
       inner join WITHDRAWAL_PREDICTION_TABLE b on a.REFERENCE_DATE= b.REFERENCE_DATE
       inner join vault c on a.REFERENCE_DATE=c.BANK_DATE
       where a.Branch_code =b.Branch_code and a.TRAN_CRNCY_CODE=b.TRAN_CRNCY_CODE and a.Branch_code=c.BRA_CODE and a.TRAN_CRNCY_CODE=c.CUR_CODE
       ;"""
Final_prediction_table = pysqldf(q)

In [337]:
Final_prediction_table.sort_values('REFERENCE_DATE')

,REFERENCE_DATE,FORECAST_DATE,BRANCH_CODE,TRAN_CRNCY_CODE,TARGET_CREDIT,TARGET_DEBIT,VAULT_BALANCE,DEPOSIT_PREDICTION,WITHDRAWAL_PREDICTION,PREDICT_VAUILT_BAL,DAY_MONTH,MONTH,PREPUBHOL
1604,2022-06-01,2022-06-03 00:00:00.000000,212.00000,1.00000,55121000.00000,61014400.00000,-114630640.00000,76579920.00000,91715696.00000,-129766416.00000,3.00000,JUNE,1.00000
1581,2022-06-01,2022-06-03 00:00:00.000000,213.00000,2.00000,104000.00000,50000.00000,-111045.00000,-156272.00000,55404.00000,-322721.00000,3.00000,JUNE,1.00000
1580,2022-06-01,2022-06-03 00:00:00.000000,204.00000,4.00000,0.00000,0.00000,-585.00000,0.00000,0.00000,-585.00000,3.00000,JUNE,1.00000
1579,2022-06-01,2022-06-03 00:00:00.000000,202.00000,4.00000,20000.00000,10000.00000,-16055.00000,-206440.00000,6252.00000,-228747.00000,3.00000,JUNE,1.00000
1578,2022-06-01,2022-06-03 00:00:00.000000,212.00000,3.00000,0.00000,0.00000,-19150.00000,0.00000,0.00000,-19150.00000,3.00000,JUNE,1.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
710,2022-09-28,2022-09-30 00:00:00.000000,209.00000,1.00000,56864544.00000,45132584.00000,-44521364.00000,63504472.00000,51738732.00000,-32755624.00000,30.00000,SEPTEMBER,1.00000
709,2022-09-28,2022-09-30 00:00:00.000000,208.00000,1.00000,67718400.00000,103975040.00000,-45183288.00000,35344484.00000,55908456.00000,-65747260.00000,30.00000,SEPTEMBER,1.00000
708,2022-09-28,2022-09-30 00:00:00.000000,207.00000,1.00000,21163440.00000,5788180.00000,-25588070.00000,15879414.00000,11499629.00000,-21208285.00000,30.00000,SEPTEMBER,1.00000
680,2022-09-28,2022-09-30 00:00:00.000000,209.00000,4.00000,0.00000,0.00000,-9530.00000,0.00000,0.00000,-9530.00000,30.00000,SEPTEMBER,1.00000
685,2022-09-28,2022-09-30 00:00:00.000000,207.00000,3.00000,0.00000,0.00000,-740.00000,0.00000,0.00000,-740.00000,30.00000,SEPTEMBER,1.00000

In [342]:
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=CASH-MGT-SV01;DATABASE=CashManagement;UID=cashcom_user;PWD=cash@312;')
cnxn.setdecoding(pyodbc.SQL_CHAR, encoding='latin1')
cnxn.setencoding('latin1')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in Final_prediction_table.iterrows():
     cursor.execute("INSERT INTO [dbo].[vault_balance_predict_table](REFERENCE_DATE,FORECAST_DATE,BRANCH_CODE,TARGET_CREDIT	,TARGET_DEBIT,VAULT_BALANCE,DEPOSIT_PREDICTION,WITHDRAWAL_PREDICTION,PREDICT_VAULT_BAL,DAY_MONTH,MONTH,PREPUBHOL) \
     values(?,?,?,?,?,?,?,?,?,?,?,?)", row.REFERENCE_DATE,row.FORECAST_DATE,row.BRANCH_CODE,row.TARGET_CREDIT,row.TARGET_DEBIT,row.VAULT_BALANCE,row.DEPOSIT_PREDICTION,row.WITHDRAWAL_PREDICTION,row.PREDICT_VAUILT_BAL,row.DAY_MONTH,row.MONTH,row.PREPUBHOL)
cnxn.commit()
cursor.close()